In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
train = pd.read_csv("Train.csv")
test = pd.read_csv("Test.csv")

In [3]:
train.head()

,Item_Id,Date,State_of_Country,Market_Category,Product_Category,Grade,Demand,Low_Cap_Price,High_Cap_Price
0,IT_1,2007-07-05,0,0,0,0,0.5,2785,4240
1,IT_2,2007-07-05,0,1,0,0,0.7,3574,4756
2,IT_3,2007-07-05,0,103,0,1,1.6,5978,9669
3,IT_4,2007-07-05,0,103,0,0,0.0,5681,8313
4,IT_5,2007-07-05,0,103,0,2,0.0,4924,7257

In [4]:
test.head()

,Item_Id,Date,State_of_Country,Market_Category,Product_Category,Grade,Demand,High_Cap_Price
0,IT_265079,2014-01-19,0,3,0,0,0.1,5303
1,IT_265087,2014-01-19,0,268,0,2,1.4,10492
2,IT_265107,2014-01-19,0,320,0,0,13.4,24706
3,IT_265139,2014-01-19,17,358,0,3,5.5,23464
4,IT_265142,2014-01-19,18,23,5,2,0.0,6222

In [5]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5763 entries, 0 to 5762
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Item_Id           5763 non-null   object
 1   Date              5763 non-null   object
 2   State_of_Country  5763 non-null   int64
 3   Market_Category   5763 non-null   int64
 4   Product_Category  5763 non-null   int64
 5   Grade             5763 non-null   int64
 6   Demand            5763 non-null   float64
 7   High_Cap_Price    5763 non-null   int64
dtypes: float64(1), int64(5), object(2)
memory usage: 360.3+ KB

In [6]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9798 entries, 0 to 9797
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Item_Id           9798 non-null   object
 1   Date              9798 non-null   object
 2   State_of_Country  9798 non-null   int64
 3   Market_Category   9798 non-null   int64
 4   Product_Category  9798 non-null   int64
 5   Grade             9798 non-null   int64
 6   Demand            9798 non-null   float64
 7   Low_Cap_Price     9798 non-null   int64
 8   High_Cap_Price    9798 non-null   int64
dtypes: float64(1), int64(6), object(2)
memory usage: 689.0+ KB

In [7]:
train.columns

Index(['Item_Id', 'Date', 'State_of_Country', 'Market_Category',
       'Product_Category', 'Grade', 'Demand', 'Low_Cap_Price',
       'High_Cap_Price'],
      dtype='object')

In [8]:
test['Demand'] = test['Demand'].astype('int64')
train['Demand'] = train['Demand'].astype('int64')

In [9]:
X_train = train.drop(['Item_Id', 'Date', 'Low_Cap_Price'],axis = 1)
X_train.columns

Index(['State_of_Country', 'Market_Category', 'Product_Category', 'Grade',
       'Demand', 'High_Cap_Price'],
      dtype='object')

In [10]:
X_test = test.drop(['Item_Id', 'Date'], axis = 1)
X_test.columns

Index(['State_of_Country', 'Market_Category', 'Product_Category', 'Grade',
       'Demand', 'High_Cap_Price'],
      dtype='object')

In [11]:
y_train = train['Low_Cap_Price']

In [12]:
# from sklearn.preprocessing import StandardScaler
# sc_x = StandardScaler()
# X_train = sc_x.fit_transform(X_train)
# X_test = sc_x.fit_transform(X_test)

In [13]:
X_train.shape
#X_test.shape

(9798, 6)

In [14]:
from sklearn.linear_model import LinearRegression
clf = LinearRegression()
clf.fit(X_train, y_train)

LinearRegression()

In [15]:
preds = clf.predict(X_test)
preds

array([ 2418.53967135,  4100.02927888, 11192.73258092, ...,
        5913.77916699,  5293.24905298,  6569.9374812 ])

In [16]:
submission = pd.DataFrame({'Item_Id':test['Item_Id'], 'Low_Cap_Price':preds})
submission.to_csv('Final_submission.csv', index=False)